<!DOCTYPE html>
<html>
  <head>
    <title>MattWiki</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src='https://cdn.tinymce.com/4/tinymce.min.js'></script>
      <script>
        // tinymce.init({
        // selector: '#mytextarea',
        // plugins: "link",
        // menubar: "insert",
        // toolbar: "link",
        // plugins: "emoticons",


        // elementpath: false,
        // forced_root_block: "",
        // theme: 'modern',
        // width: 600,
        // height: 300,
        // element_format : 'html',
        // });

        tinymce.init({
          selector: '#mytextarea',
          height: 500,
          theme: 'modern',
          plugins: [
            'advlist autolink lists link image charmap print preview hr anchor pagebreak',
            'searchreplace wordcount visualblocks visualchars code fullscreen',
            'insertdatetime media nonbreaking save table contextmenu directionality',
            'emoticons template paste textcolor colorpicker textpattern imagetools'
          ],
          toolbar1: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
          toolbar2: 'print preview media | forecolor backcolor emoticons',
          image_advtab: true,
          templates: [
            { title: 'Test template 1', content: 'Test 1' },
            { title: 'Test template 2', content: 'Test 2' }
          ],
          content_css: [
            '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
            '//www.tinymce.com/css/codepen.min.css'
          ]
 });
      </script>

  </head>

  <body>

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>


    <%= render '/layouts/nav' %>
  <main>
    <%= yield %>
  </main>
  <br/>
  <% if logged_in? == nil %>
    <footer>
      <% if current_admin %>
        <%= link_to 'Admin Logout', destroy_admin_session_path, method: :delete %>
      <% elsif Admin.all.count < 2 %>
        <%= link_to 'Admin Register', new_admin_registration_path %> |
        <%= link_to 'Admin Login', new_admin_session_path %>
      <% else %>
        <%= link_to 'Admin Login', new_admin_session_path %>
      <% end %>
    </footer>
  <% end %>
  </body>
</html>
