<!DOCTYPE html>
<html>
  <head>
    <title>MattWiki</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src='https://cdn.tinymce.com/4/tinymce.min.js'></script>
      <script>
        tinymce.init({
        selector: '#mytextarea',
        theme: 'modern',
        width: 600,
        height: 300,
        });
      </script>
  </head>

  <body>
    <header><%= link_to "New Article", new_article_path %></header>
  <main>
    <%= yield %>
  </main>

  </body>
</html>
