<!DOCTYPE html>
<html>
  <head>
    <title>MattWiki</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src='https://cdn.tinymce.com/4/tinymce.min.js'></script>
      <script>
        tinymce.init({
        selector: '#mytextarea',
        forced_root_block: "",
        theme: 'modern',
        width: 600,
        height: 300,
        element_format : 'html',
        });
      </script>
  </head>

  <body>

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

    <!-- <header><%# link_to "New Article", new_article_path %></header> -->
    <%= render '/layouts/nav' %>
  <main>
    <%= yield %>
  </main><br>
  <% if logged_in? == nil %>
    <footer>
      <% if current_admin %>
        <%= link_to 'Admin Logout', destroy_admin_session_path, method: :delete %> |
        <%= link_to 'Admin Delete', destroyAdmin_path, method: :delete %>
      <% elsif Admin.all.count < 2 %>
        <%= link_to 'Admin Register', new_admin_registration_path %> |
        <%= link_to 'Admin Login', new_admin_session_path %>
      <% else %>
        <%= link_to 'Admin Login', new_admin_session_path %>
      <% end %>
    </footer>
  <% end %>
  </body>
</html>
