  <% if @article.errors.any?  %>
    <div id="errors">
      <p><%= pluralize(@article.errors.count, "error")%> prevented this article from saving</p>
      <ul>
        <% @article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<!-- <form action='/articles/<%= @article %>'>
  <label for='title'> Title </label>
  <input type='text' name='title'>
   <label for='content'> Content </label>
  <input type='text' name='content' id='mytextarea'>
</form>
 -->



<%= form_for @article do |f| %>
  <%= f.fields_for :version do |ff| %>
      <%= ff.label :title %><br>
      <%= ff.text_field :title %><br>
      <%= ff.label :content %><br>
        <textarea id="mytextarea" <%= ff.text_field :content %> >
        </textarea><br>
  <% end %>
  <%= f.label :category_id %>
  <!-- <div class='input-field'> -->
    <%# f.select (:category_id) do %>
      <% Category.all.map {|category| [category.name, category.id]}.each do |cat| %>
        <p>
           <input name="article[category_id]" id=<%= cat[1] %> type="radio" value=<%= cat[1] %> />
          <label for=<%= cat[1] %> ><%=  cat[0] %></label>
        </p>
      <% end %>
      <%# options_for_select(categories_options_array) %>
  <!-- </div> -->
  <br><br>
  <%= f.submit %>
    <% end %>
