<%= form_for @article do |f| %>
  <% if @article.errors.any?  %>
    <div id="errors">
      <p><%= pluralize(@article.errors.count, "error")%> prevented this article from saving</p>
      <ul>
        <% @article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.label :title %><br>
  <%= f.text_field :title %><br>
  <%= f.label :content %><br>

   <textarea id="mytextarea" <%= f.text_field :content %> >
   </textarea><br>
  <%= f.label :category_id %>
    <%= f.select (:category_id) do %>
      <% categories_options_array = Category.all.map {|category| [category.name, category.id]} %>
      <%= options_for_select(categories_options_array) %>

    <% end %>
  <br><br><%= f.submit %>
 <% end %>
