<%= form_for @version, :url => article_versions_path do |f| %>
  <% if @version.errors.any?  %>
    <div id="errors">
      <p><%= pluralize(@version.errors.count, "error")%> prevented this article from saving</p>
      <ul>
        <% @version.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.fields_for :version do |ff| %>
      <%= ff.label :title %><br>
      <%= ff.text_field :title, :value => @version1.title %><br>
      <%= ff.label :content %><br>

        <textarea id="mytextarea" <%= ff.text_area :content, :value => @version1.content  %> >

        </textarea><br>

    <%= f.label :category_id %>
  <!-- <div class='input-field'> -->
    <%# f.select (:category_id) do %>
      <% Category.all.map {|category| [category.name, category.id]}.each do |cat| %>
        <p>
           <input name="article[category_id]" id=<%= cat[1] %> type="radio" value=<%= cat[1] %> />
          <label for=<%= cat[1] %> ><%=  cat[0] %></label>
        </p>
      <% end %>
      <%# options_for_select(categories_options_array) %>
  <!-- </div> -->
  <br><br>
  <%= f.submit %>
    <% end %>
    <% end %>
