<h1><%= @version.title %></h1>

<p><%= @version.content.html_safe %></p>


<% if @version_count > 1  %>
<p>This article has <%= @version_count %> previous versions</p>
  <% counter = 1 %>
  <% @versions.each do |version| %>
    <%= counter %> <%= link_to version.title, article_version_path(@article.id, version.id) %> <br>
    <% counter += 1 %>
  <% end %>
<%end  %>

<!-- tinyMCE.activeEditor.getContent({format : 'raw'}); -->
<p>Written by <%= link_to @version.author.username %></p><!-- eventually a link to author/editor user profile -->



<p>|Category| <%= link_to @article.category.name, category_path(@article.category) %></p>
