<h1>User Login</h1>

<% if @errors %>
  <ul>
    <% @errors.each do |error| %>
      <li style="color:red"><%= error %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for :session, url: sessions_path do |f| %>

  <%= f.label :username %><br>
  <%= f.text_field :username %><br>

  <%= f.label :password %><br>
  <%= f.text_field :password %><br>

  <%= f.submit "Submit" %><br>


<%= link_to 'Admin Register', new_admin_registration_path %><br>
<%= link_to 'Admin Login', new_admin_session_path %><br>
<%= link_to 'Admin Logout', destroy_admin_session_path, method: :delete %>
<% end %>
