<h1> User Registration </h1>

<%= form_for @user do |f| %>
  <%= f.label :email %><br>
  <%= f.text_field :email %><br>

  <%= f.label :username %><br>
  <%= f.text_field :username %><br>

  <%= f.label :first_name %><br>
  <%= f.text_field :first_name %><br>

  <%= f.label :last_name %><br>
  <%= f.text_field :last_name %><br>

  <%= f.label :password %><br>
  <%= f.text_field :password %><br>

  <%= f.submit "Submit" %>
<% end %>
